html{
    font-family: 'Droid Sans', sans-serif;
    color: rgb(92, 92, 92);
}

.hello{
    text-align: center;
    width: 1250px;
    color: black;
    position: absolute;
    margin: auto;
    top: 0px;
    margin-top: 240px;
}

.intro{
    margin: auto;
    text-align: center;
    position: relative;
    width: 1250px;
    height: 240px;
}


i{
    color: rgb(92, 92, 92);
    margin: auto;
}