html{
    font-family: 'Droid Sans', sans-serif;
    scroll-behavior: smooth;
    background-image: url(../images/back1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}


.hello{
    width: 1250px;
    color: black;
    position: absolute;
    margin: auto;
    top: 0px;
    margin-top: 300px;
    text-align: center;
    height: 100%;
    width: 99%;
    height: 250px;
    margin-bottom: 80px;
}

.intro{
    margin: auto;
    top: 80px;
    text-align: center;
    position: relative;
    width: 100%;
}

.intro img{
    width: 100%;
    height: 100%;
}

.fa-arrow-circle-down{
    color: black;
    margin: auto;
    margin-top: 40px;
    z-index: 4;
}

.fa-arrow-circle-down:hover{
    opacity: 0.5;
    }
    
.fa-arrow-circle-down:active{
    color:gray;
}

.balk{
    width:100%;
    height: 80px;
    height: 15%;
    display: flex;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.508);
    z-index: 5;
    position: fixed;
    margin: auto;
    top:0;
    left: 0;
    list-style: none;
    font-size: 16;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Bebas Nue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.balk p{
    margin-left: 20px;
    float: right;
    padding: 40px;
}



a{
    text-decoration: blink;
    color: black;
}

a:hover{
    top: 100%;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transform: scale(1.2); /* DEES HEB IK AANGEPAST */
    display: inline-block;
    margin: auto;
    overflow: hidden;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid #BAB1B9;
    color: #BAB1B9;
}

a:active{
    color: #333;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.knop{
    background-color: black;
    margin: auto;
}


.kies{
    background-color: white;
    height: 430px;
    width: 1000px;
    top: 100px;
    margin: auto;
    padding: 50px;
    padding-left: 100px;
    margin-top: 70px;
    margin-bottom: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.kies img{
    margin: 65px;
    margin-top: 20px;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
}

.kies h1{
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: 'Bebas Nue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 36px;
    }

.kies img:hover{
    opacity: 0.3;
    }
        
.kies img:active{
    opacity: 0.7;
    }

.kies over{
    display: inline-block;
}

.over{
    background-color: white;
    height: 300px;
    width: 1000px;
    margin: auto;
    padding: 50px;
    padding-right: 100px;
    margin-bottom: 10px;
    margin-bottom: 50px;
}


.over img{
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    margin-left: 60px;
    margin-top: -120px;
}

.over h1, .over p{
    padding-left: 100px;
    padding-right: 10px;
    text-align: left;
}

.over h1{
    padding-top: 60px;
    padding-bottom: 10px;
    font-family: 'Bebas Nue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.opleidingen{
    background-color: white;
    height: 300px;
    width: 1000px;
    margin: auto;
    padding: 50px;
    padding-right: 100px;
    margin-bottom: 10px;
    margin-bottom: 50px;
}

.opleidingen h1{
    padding-top: 60px;
    padding-bottom: 10px;
    font-family: 'Bebas Nue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 36px;
    }

.opleidingen img{
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    margin-left: -50px;
    margin-top: -120px;
}    

.opleidingen p{
    padding-left: 100px;
    padding-right: 10px;
    text-align: left;
    padding-left: 150px;
}


.opdrachten{
    background-color: white;
    height: 300px;
    width: 1000px;
    margin: auto;
    padding: 50px;
    padding-right: 100px;
    margin-bottom: 10px;
    margin-bottom: 50px;
}

.opdrachten h1{
    padding-top: 60px;
    padding-bottom: 10px;
    font-family: 'Bebas Nue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.footer{
    height: 150px;
    width: 1000px;
    margin: auto;
    margin-top: 150px;
    padding-right: 100px;
    margin-bottom: 50px;
    text-align: left;
    position: relative;
}
.footer p{
    font-size: 16px;
    font-weight: 300;
}

.footer h2{
    font-family: 'Bebas Nue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer_info{
    padding-left: 100px;
    margin: auto;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    margin-left: 800px;
    text-align: right;
    top: 75px;
    }
    
.footer_info h2{
    font-family: 'Bebas Nue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}